.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__okxih {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 393px;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 215px;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox___99Sn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 10px 0px 0px;
}
.text__at5EN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  min-width: 0;
}
.text__mSbHa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  min-width: 0;
}
.text__hGj4H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-deUOqHKwNHwK);
  padding-top: 10px;
  margin-right: 8px;
  margin-left: 8px;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__e22Bw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  margin-right: 0px;
  margin-left: 0px;
  background: var(--token-jgohepLVeKvh);
  padding-top: 5px;
  min-width: 0;
}
