.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 624px;
  height: 1003px;
  justify-content: center;
  align-items: center;
  background: var(--token-iY-G3zIs-ZCD);
  padding-bottom: 277px;
  justify-self: flex-start;
  padding-top: 26px;
}
.freeBox___9TVb8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-iY-G3zIs-ZCD);
  min-width: 0;
  padding: 83px 8px 8px;
}
.text__v6DPe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.freeBox___8ARl {
  display: flex;
  position: relative;
  width: 400px;
  height: 100%;
  max-width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  background: var(--token-kr7h-FgyE6wN);
  margin-bottom: 30px;
  min-height: 0;
  padding: 8px;
}
.text___4Cp9M {
  position: relative;
  width: 356px;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  background: var(--token-kr7h-FgyE6wN);
  align-self: center;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  z-index: 1;
  flex-shrink: 0;
}
.img__jXc1X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  object-position: 50% 50%;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}
.img__jXc1X > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.freeBox__pVx00 {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  padding: 8px;
}
.text__umNoo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-iY-G3zIs-ZCD);
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.img__ePntn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  flex-shrink: 0;
}
.img__ePntn > picture > img {
  object-fit: cover;
}
.freeBox__pa3A {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  padding: 8px;
}
.text__pAbrT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-iY-G3zIs-ZCD);
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.img__vBhkn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 36px;
  flex-shrink: 0;
}
.img__vBhkn > picture > img {
  object-fit: cover;
}
.text__raRv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  margin-bottom: 15px;
  min-width: 0;
}
.textInput__hxkqr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 350px;
  margin-bottom: 32px;
  left: auto;
  top: auto;
  z-index: 1;
  height: 48px;
  flex-shrink: 0;
}
.svg__jXt2S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rwCoj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInputPassword__qefYm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 350px;
  height: 48px;
  flex-shrink: 0;
}
.text__ouHlo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.link__n6OeH {
  position: relative;
  margin-top: 30px;
  background: #0ce73a;
  color: var(--token-jgohepLVeKvh);
  width: 350px;
  text-align: center;
  padding: 14px 60px;
}
.freeBox__uxQF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  padding: 8px;
}
.text__mm6A3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.link__aQumB {
  position: relative;
  color: var(--token-j-ZwOKbpUCqd);
  width: 100%;
  min-width: 0;
}
