.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: flex-start;
  grid-row-gap: 20px;
  backface-visibility: visible;
  transform-origin: 0% -4%;
  transform: perspective(0px);
  perspective: 210px;
  perspective-origin: 52% 76%;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  background: linear-gradient(#000000, #000000),
    linear-gradient(var(--token-jgohepLVeKvh), var(--token-jgohepLVeKvh)),
    url("https://studio.plasmic.app/static/img/placeholder.png");
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 1s;
  padding: 0px 0px 336px;
}
.root > * {
  grid-column: 4;
}
.root * {
  transform-style: preserve-3d;
}
@media (max-width: 1800px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 1800px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1800px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  flex-grow: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1800px) {
  .navbar:global(.__wab_instance) {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__jd0Nj {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#000000bf, #000000bf),
    url("https://i.pinimg.com/564x/c6/92/be/c692be173d1b36cb473b69947d98702a.jpg")
      left 50% top 50% / cover repeat padding-box padding-box scroll;
  margin-top: 0px;
  height: 519px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.signIn {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 63px;
  min-width: 0;
  padding: 8px 0px 447px 164px;
}
.text__icrRl {
  position: absolute;
  width: 100%;
  height: 54px;
  max-width: 100%;
  left: 10px;
  top: 18px;
  padding-right: 59px;
  color: #ffffff;
  min-width: 0;
}
@media (max-width: 1800px) {
  .text__icrRl {
    width: 1400px;
    padding-right: 0px;
    left: 18px;
  }
}
.h4 {
  text-align: center;
  color: var(--token-jgohepLVeKvh);
}
@media (max-width: 1800px) {
  .h4 {
    text-align: center;
  }
}
.text__rS2Sd {
  position: absolute;
  width: 580px;
  height: auto;
  max-width: 100%;
  left: 618px;
  top: 117px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 20px;
  padding: 0px 10px;
}
@media (max-width: 1800px) {
  .text__rS2Sd {
    left: 417px;
    top: 66px;
    height: 120px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rS2Sd {
    left: -25px;
    top: 41px;
    padding-bottom: 0px;
    height: 110px;
  }
}
.h3___0LWm {
  text-align: center;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 57px;
  height: 136px;
  padding-top: 9px;
  margin-top: 22px;
  margin-right: 0px;
  padding-right: 0px;
}
.h2 {
  text-align: center;
  padding-right: 0px;
  width: 100%;
  padding-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 32px;
  }
}
.signInButtons:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 330px;
}
@media (max-width: 1800px) {
  .signInButtons:global(.__wab_instance) {
    top: 266px;
    height: 120px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .signInButtons:global(.__wab_instance) {
    height: 120px;
    top: 158px;
    margin: 0px 0px 20px;
  }
}
.freeBox__wqT1A {
  display: block;
  position: relative;
  width: 100%;
  height: 123px;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 28px 8px;
}
.text__cSwL {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 4px;
  top: 40px;
  margin-right: 0px;
  padding-right: 27px;
  text-align: center;
  font-weight: 900;
  font-family: "Inria Sans", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cSwL {
    margin-top: 20px;
  }
}
.freeBox__ut1ZB {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox___14Y3N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1200px;
  height: auto;
  max-width: 1400%;
  justify-content: center;
  align-items: flex-start;
  margin-right: 0px;
  padding: 8px;
}
.text__ijLop {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__getwh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.cmsDataFetcher__nnQ4:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox___79O5Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 800px;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  padding: 8px;
}
.cmsEntryImage__bhb3J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__jt6Zp {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jt6Zp > picture > img {
  object-fit: cover;
}
.freeBox__vhVpj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.cmsEntryField___9BYdg:global(.__wab_instance) {
  object-fit: cover;
  max-width: auto;
  text-align: left;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.cmsEntryField__hcTm3:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text__usFf6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vsOWo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___7Vn6L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.cmsDataFetcher__aay1H:global(.__wab_instance) {
  width: 100%;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
.freeBox__wUu9V {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 8px;
}
.cmsEntryImage__dn6R2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__aJynm {
  object-fit: cover;
  width: 200px;
  border-radius: 8px;
}
.img__aJynm > picture > img {
  object-fit: cover;
}
.freeBox__gWoRb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 8px;
  min-width: 0;
  padding: 8px;
}
.cmsEntryField__qqNnm:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.cmsEntryField__juZmX:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text__o6Hq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dPdpy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3___3OCph {
  text-align: left;
  margin-left: 300px;
  padding: 0px;
}
